%p
  %h3
    Folder:
    = @resource.urn
%table.table.table-striped
  %thead
    %tr
      %th= Resource.model_name.human.pluralize
  %tbody
    - @resource.children.each do |resource|
      %tr
        %td
          %code= resource.uri
    - if @resource.children.empty?
      %tr
        %td{:colspan => 2}
          %i.icon-exclamation-sign
          Empty result