= render 'page_header'

- case @resource.asset.class
- when Asset::Static
  %p
    %h3
      - case @resource.asset.file.content_type
      - when /^image\/(.+)$/
        Image
  %p
    URL:
    %code= @resource.uri
  %p.well
    %img{:src => preview_website_resource_path(current_website, @resource)}
- when Asset::Folder
  %p
    Folder
  %p
    URL:
    %code= @resource.uri